/* -----------------------------------------
* BUTTONS
-------------------------------------------*/
@use '../vars' as *;

.btn {
    padding: .5rem 4rem;

    display: inline-block;
    background-color: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    text-align: center;
    color: #000;
    font-weight: 700;
    border-radius: 0;

    &.btn-big {
        padding: 1rem;
        font-size: 1.2rem;
    }

    &.btn-primary {
        color: #fff;
        background-color: $col-blue;

        transition: background-color 0.15s;

        &:hover {
            background-color: $col-lightblue;
        }
    }

    &.btn-outline-primary {
        color: #fff;
        border-color: $col-blue;

        transition: background-color 0.15s;

        &:hover {
            background-color: $col-blue;
        }
    }

    &.btn-warning {
        color: #fff;
        background-color: $col-yellow;

        transition: background-color 0.15s;

        &:hover {
            color: #000;
            background-color: $col-lightyellow;
        }
    }

    &.btn-danger {
        color: #fff;
        background-color: $col-red;

        transition: background-color 0.15s;

        &:hover {
            background-color: $col-lightred;
        }
    }
}