/* -----------------------------------------
* GENERICS
-------------------------------------------*/
@use '../vars' as *;

html {
    font-size: 14px;
}

body {
    font-family: 'Open Sans', sans-serif;

    background-color: $col-dark;
}

h3 {
    margin-bottom: 1rem;
}

h4 {
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.05rem;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

h2,
h3 {
    font-weight: 700;
    font-stretch: 75%;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: .5rem;

    background-color: transparent;
    border: 2px solid transparent;
    font-size: 1rem;
    text-align: center;

    cursor: pointer;
}